@use '../../../styles/variables.module.scss' as vars;

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  transition-duration: 350ms;
  border: none;
  border-radius: 8px;
  background-color: vars.$primary;
  padding: 8px 16px;
  width: 100%;
  min-height: 40px;
  color: vars.$textForeground;
  font-weight: 700;

  &:hover {
    opacity: 0.75;
  }

  .loading {
    animation: loading 0.75s linear infinite;
  }
}
