@import '../../styles//variables.module.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
  max-width: 1432px;
  color: $textSecondary;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  max-width: 400px;
}
