$primary: #70e1f5;
$secondary: #70c6f5;
$tertiary: #243c55;
$neutral: #bbbbbb;

$textPrimary: #ffffff;
$textForeground: #0c1629;
$textSecondary: #70e1f5;
$textTertiary: #70c6f5;
$textLink: #70e1f5;

$success: #00c87b;
$warning: #c87b00;
$error: #c80003;
$input: #243c55;

$border: #243c55;
$background: #0c1629;

:export {
  primary: $primary;
  secondary: $secondary;
  tertiary: $tertiary;
  neutral: $neutral;

  textPrimary: $textPrimary;
  textForeground: $textForeground;
  textSecondary: $textSecondary;
  textTertiary: $textTertiary;
  textLink: $textLink;

  success: $success;
  warning: $warning;
  error: $error;
  input: $input;

  border: $border;
  background: $background;
}
