@use '../../../styles/variables.module.scss' as vars;

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  label {
    font-weight: 700;
  }

  .textareaContainer {
    display: flex;
    align-items: center;
    transition-duration: 350ms;
    border: 1px solid vars.$border;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;

    &:hover {
      border: 1px solid vars.$secondary;
    }

    &:focus-within {
      border: 1px solid vars.$primary;
    }

    textarea {
      flex: 1;
      border: none;
      line-height: 20px;
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }
}
